name: Test & Build

on:
  workflow_call:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1.6
          args: --timeout=5m
      - run: make test
