name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

env:
  CHART_REPOSITORY: ghcr.io/${{ github.repository_owner }}/charts

jobs:
  test:
    uses: ./.github/workflows/main.yml

  release:
    runs-on: ubuntu-latest
    needs: [test]
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> "$GITHUB_ENV"

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: latest
          args: release
        if: success()

      - run: |
          go run cmd/updater/updater.go \
            --file charts/octopinger/Chart.yaml \
            --version "${{ env.RELEASE_VERSION }}"

      - uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: charts
          config: ${{ github.workspace }}/.cr.yaml

      - name: Package chart
        run: |
          PACKAGE=$(helm package charts/octopinger -u | cut -d " " -f 8)
          echo "PACKAGE=${PACKAGE}" >> "${GITHUB_ENV}"

      - name: Push chart to OCI registry
        run: |
          helm push \
            "${{ env.PACKAGE }}" \
            "oci://${{ env.CHART_REPOSITORY }}"
